<h1>
    Seja bem vindo {{usuario.name}}
</h1>

<h4>
    Nome: {{usuario.name}}
</h4>
<h4>
    Sobrenome: {{usuario.surname}}
</h4>
<h4>
    Idade: {{usuario.age}}
</h4>
<h1>
    {{t}}
    <br><a href="/dashboard">ir para dashboard</a>
</h1>