<h1>
    Seja bem vindo {{usuario.name}}
</h1>

<h4>
    Nome: {{usuario.name}}
</h4>
<h4>
    Sobrenome: {{usuario.surname}}
</h4>
<h4>
    Idade: {{usuario.age}}
</h4>
<h1>
    {{t}}
</h1>
{{#if auth}}
    <h4>
        Usuario autenticado <br>
        <a href="dashboard">Dashboard</a><br>
        <a href="blog">Blog</a>
    </h4>
{{else}}
    <h4>
        Usuario nao autenticado <br>
        <a href="">fazer login</a>
    </h4>
{{/if}}