{{#with this}}
<div class="col-5 border item-holder">
    <ul class="item">
        <li><img src="{{imgLoc}}" alt="prod-image" class="img-fluid"></li>
        <li>Produto: {{name}}</li>
        <li>Cod. Barras: {{barCode}}</li>
        <li>Preço a Prazo: {{installmentPrice}} </li>
        <li>PREÇO A VISTA!!!!!!: {{regularPrice}} !!!!!</li>
        <li>Em até {{installments}}x no Cartão sem Juros !!!!!</li>
    </ul>
</div>
{{/with}}