<div class="col-10">
    <div class="row row-cols-2 justify-content-center">
        <div class="col-3 mrg">
            <img src="{{imgLoc}}" alt="prod-image" class="img-fluid single">
        </div>
        <div class="col-3 item flex item-holder">
            <div class="row row-cols-1">
                <div class="col prodInfo">Produto: {{name}}</div>
                <div class="col prodInfo">Cod. Barras: {{barCode}}</div>
                <div class="col prodInfo">Preço a Prazo: {{installmentPrice}} </div>
                <div class="col prodInfo">PREÇO A VISTA!!!!!!: {{regularPrice}} !!!!!</div>
                <div class="col prodInfo">Em até {{installments}}x no Cartão sem Juros !!!!!</div>
            </div>
        </div>
    </div>

</div>