<h1>
    Blog Posts
</h1>

{{#with post}}

<h1>
    {{title}}
</h1>

<p>
    {{category}}
</p>
<p>
    {{subject}}
</p>
<p>
    Este artigo possui {{comments}} comentarios
</p>    

<h6>
    Escrito por: {{author}}
</h6>

{{/with}}